.heart {
    height: 100px;
    width: 100px;
    background: #f20044;
    margin: 50% auto;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart  0.8s linear infinite;
}
@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.app {
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
}
.heart::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}
.heart::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

.male-info {
    justify-content: center;
    align-items: center;
    margin: auto;
}
div.img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}

.love-box {
    margin: -100px 0;
    font-family: 'Satisfy', cursive;
}
h4.box-heading {
    font-size: 2rem;
}
section i {
    position: absolute;
    background: rgb(236, 81, 81);
    border-radius: 100%;
    z-index: 1;
    animation: bubble 7s linear infinite;
}
section i:nth-child(even) {
    background: transparent;
    border: 1px solid rgb(236, 81, 81);
}
@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-2000%);
        opacity: 0;
    }
}